ul.links li{
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}

ul.links li a{
	color: #ffffff;
	font-size: 16px;
}

.img-circle {
  border-radius: 100% !important;
}

.img-rounded {
  border-radius: 6px !important;
}

.fa-inverse {
  color: #000000 !important;
}

.popover-title {
    display: none;
    color: black;
    font-size: 15px;
}

.popover-content {
    color: black;
    font-size: 18px;
    font-style: italic;
}

#home{
	background: url(../img/background/bg1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: #ffffff;
}

#others{
	background: url(../img/background/bg2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: #ffffff;
}

#works{
	background: url(../img/background/bg3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: #ffffff;
}

.modal-header{
    color:black !important;
}

.modal-body{
    color: black !important;
}

nav#menu span.fa.fa-bars{
	font-size: 30px !important;
	position: fixed !important;
	left: 120px !important;
	color: #58d68d !important;
	cursor: pointer !important;
	z-index: 1 !important;
}

.navmenu-default, 
.navbar-default .navbar-offcanvas {
	background-color: 58d68d; 
	border-color: 58d68d; 
	border: 0;
}

nav#menu span.fa.bars:hover {
color: #C59A6D;
}
.navmenu-default .navmenu-nav>.active>a, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a, 
.navmenu-default .navmenu-nav>.active>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, 
.navmenu-default .navmenu-nav>.active>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
color: #C59A6D;
background-color: transparent;
}

a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	cursor: pointer;
	color: #c59a6d;
	margin-top: 30px;
}

#overview-video a span.fa.fa-play {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin: auto 0;
}

#home a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 100px;
	color: #58d68d !important;
	cursor: pointer;
}